@import "tailwindcss";


.simple-keyboard {
  background: transparent;
  border-radius: 10px;
  padding-top: 10px;
}

.simple-keyboard .hg-button {
  height: 100%;
  background: #333;
  color: white;
  border-radius: 8px;
  margin: 4px;
  font-size: 32px;

}

.simple-keyboard .hg-button:active {
  background: #555;

}


.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* basic background if not using Tailwind */
body { background: #000; color: #fff; margin: 0; font-family: Inter, system-ui, sans-serif; }